{% extends 'word/base.html' %}

{% block content %}

    <div class="cosas">

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!--<input type="file" name="document">-->
			<div id="archivo">
				<div class="input-file-container">
			    	<input class="input-file" id="my-file" type="file" name="document">
			    	<label tabindex="0" for="my-file" class="input-file-trigger">ARCHIVO EXCEL</label>
			  </div>
			<p class="file-return"></p>

			</div>



            <button id="enviar" class="btn btn-primary" type="submit">ARCHIVO WORD</button>
        </form>

    </div>


        {% if url %}
        <div class="cosas">
        <p>Descarga aqui: <a href="{{ url }}">{{ url }}</a></p>
        </div>

        {% endif %}

{% endblock %}
